.Book-container{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}
.Book-container::after{
    content: '';
	clear: both;
	display: block
}
.book-aside li{
    font-size: 15px;
    margin-top: 10px;
}
.book-aside  a{
    text-decoration: none;
    color: #666;
    display: block;
    line-height: 32px;
    border-right: 1px solid #e9e9e9;
}
.book-aside-active{
    color: #2db7f5 !important;box-sizing: border-box;
    border-right: 3px solid #2db7f5 !important;
}
.book-aside{
    float: left;
    width: 200px;
}
.book-aside::after{
    content: '';
	clear: both;
	display: block
}
.book-aside--li__par{
	color: #666;
	min-height: 32px;
}

.book-aside--ul__child{
	padding-left: 18px;
	font-size: 13px;
}
.book-aside--ul__child li{
	padding-top: 0px;
	height: 32px;
}
.book-aside--ul__child a{
	line-height: 34px;
	display: block;
	font-size: 13px;
}
.book-content{
    left: 0;
    top: 0;
    padding-left: 210px;
}

.book-content p {
			margin: 1em 0;
			line-height: 1.5em;
		}
		
.book-content	table {
			font-size: inherit;
			font: 100%;
			margin: 1em;
		}
		
		.book-content table th {
			border-bottom: 1px solid #bbb;
			padding: .2em 1em;
		}
		
		.book-content table td {
			border-bottom: 1px solid #ddd;
			padding: .2em 1em;
		}
		
		.book-content input[type=text],
		input[type=password],
		input[type=image],
		textarea {
			font: 99% helvetica, arial, freesans, sans-serif;
		}
		
		.book-content select,
		.book-content option {
			padding: 0 .25em;
		}
		
		.book-content optgroup {
			margin-top: .5em;
		}
		
		.book-content pre,
		code {
			font: 12px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
		}
		
	.book-content	pre {
			margin: 1em 0;
			font-size: 12px;
			background-color: #eee;
			border: 1px solid #ddd;
			padding: 5px;
			line-height: 1.5em;
			color: #444;
			overflow: auto;
			-webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			white-space: pre-wrap;
			word-wrap: break-word;
		}
		
	.book-content	pre code {
			padding: 0;
			font-size: 12px;
			background-color: #eee;
			border: none;
		}
		
	.book-content	code {
			font-size: 12px;
			background-color: #f8f8ff;
			color: #444;
			padding: 0 .2em;
			border: 1px solid #dedede;
		}
		
		.book-content img {
			border: 0;
			max-width: 100%;
		}
		
	.book-content	abbr {
			border-bottom: none;
		}
		
	.book-content	a {
			color: #4183c4;
			text-decoration: none;
		}
		
	.book-content	a:hover {
			text-decoration: underline;
		}
		
	.book-content	a code,
		a:link code,
		a:visited code {
			color: #4183c4;
		}
		
	.book-content	h2,
		h3 {
			margin: 1em 0;
		}
		
	.book-content	h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			border: 0;
		}
		
	.book-content	h1 {
			font-size: 170%;
			border-top: 4px solid #aaa;
			padding-top: .5em;
			margin-top: 1.5em;
		}
		
	.book-content	h1:first-child {
			margin-top: 0;
			padding-top: .25em;
			border-top: none;
			padding-bottom: 9px;
			border-bottom: 3px solid #2196f3;
		}
		
	.book-content	h2 {
			font-size: 150%;
			margin-top: 1.5em;
			/*border-top: 4px solid #E91E63;*/
			padding-top: .5em;
		}
		
	.book-content	h3 {
			margin-top: 1em;
		}
		
	.book-content	hr {
			border: 1px solid #E91E63;
		}
		
	.book-content	ul {
			margin: 1em 0 1em 2em;
		}
		
		.book-content ol {
			margin: 1em 0 1em 2em;
		}
		
	.book-content	ul li,
		ol li {
			margin-top: .5em;
			margin-bottom: .5em;
		}
		
	.book-content	ul ul,
		ul ol,
		ol ol,
		ol ul {
			margin-top: 0;
			margin-bottom: 0;
		}
		
	.book-content	blockquote {
			margin: 1em 0;
			border-left: 5px solid #E91E63;
			padding-left: .6em;
			color: #555;
		}
		
	.book-content	dt {
			font-weight: bold;
			margin-left: 1em;
		}
		
	.book-content	dd {
			margin-left: 2em;
			margin-bottom: 1em;
		}
		